{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
	<div class="row">
		{% if site_logo %}
			<div class="col-1">
				<a href="{{ path('<front>') }}" rel="home" class="navbar-brand">
					<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" fetchpriority="high" style="width: 50px"/>
				</a>
			</div>
		{% endif %}
		{% if site_name %}
			<div class="col-3">
				<div class="navbar-brand">
					<a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
				</div>
			</div>
		{% endif %}
		{% if site_slogan %}
			<div class="col-12">
				<div class="site-slogan">{{ site_slogan }}</div>
			</div>
		{% endif %}
		<div class="col text-end">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>
{% endblock %}
